{% from "macro_read_table.html" import read_purchases_table %}

{% extends "_base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="" onsubmit="return confirm('Are you sure you want to delete entry?')">
        <h1 class="h3 mb-3 fw-normal text-center">Select a row to delete from database</h1>
        <div class="form-floating">
          {{ form.purchase_id(placeholder="Purchase ID", class="form-control mb-2") }}
          {{ form.purchase_id.label }}
            {% if form.purchase_id.errors %}
              {% for error in form.purchase_id.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Delete</button>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{{ read_purchases_table(purchases) }}
  
{% endblock %}